/* Fonts from google fonts chosen for their smooth, heavenly feel */
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=IM+Fell+Double+Pica:ital@1&display=swap');

/* To remove some default alignments */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header styling */
header {
    background-image: url('../images/sky-with-clouds.jpg');
    background-color: rgb(214, 230, 244);
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    color:#40315d;
}

body {
    font-family: 'Cantarell', sans-serif;
    font-weight: 300;
    color: #40315d;
}

 #heavenly {
    color: #40315d;
    text-align: center;
    padding-top: 70px;
    font-size: 25px;
    font-family: 'IM Fell Double Pica', serif;
    font-weight: 400;
}

/* Navigation bar styling */
nav {
    text-align: center;
    margin: 0 auto;
}

#nav li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 10px 5px 10px;
    color: #40315d;
    font-size: large;
}

/* So links default to underlining unless I specify it */
a { 
    text-decoration: none;
}

/* For when user hovers over the navigation button */
#nav a:hover {
    color:rgb(214, 230, 244);
    background-color: #40315d;   
    padding: 5px 10px 5px 10px;   
}

/* For when user clicks on the button, thereby 'activating' the page */
.active {
    color:rgb(214, 230, 244);
    background-color: #40315d;   
    padding: 5px 10px 5px 10px; 
}

/* Inspirational quote to boost user's mood */
div #quote {
    padding: 20px;
}

#quote {
    text-align: center;
    color:#40315d
}

/* Hero image */
a #no-barrier {
    color:#40315d;
    text-align: center;
    padding: 50px;
}

#no-barrier {
    background-image: url('../images/compact-powder.jpg');
    background-color: #c4acbe;
    background-size: cover;
    height: 500px;
    width: 75%;
    padding: 10px;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;  

    /* Added an animation zoom effect when the page loads so it looks like the hand with the compact is coming toward the screen*/
    animation-name: approach-screen;
    animation-duration: 7.5s;
    animation-fill-mode: both;
}

/* To configure the zoom value */
@keyframes approach-screen {
    from{
        transform: scale(0.7)
    }
    to{
        transform: scale(1)
    }
}

/* Subscription section, goal is to draw the users to the subscription page */
#subscribe-now {
    text-align: center;
    padding-top: 10px;
}

#why-subscribe ul {
    list-style-type: none;
    padding: 5px 0 5px 0;
    background-color: rgb(233, 238, 243);
    width: 100%;
    border: 4px ridge #5a4780;
    border-radius: 50%;
    text-align: center;
}

#why-subscribe ul:hover {
    list-style-type: none;
    padding: 5px 0 5px 0;
    background-color: #40315d;
    color: rgb(214, 230, 244);
    width: 100%;
    border-radius: 50%;
    text-align: center;
}

/* To format the article headings in beauty hacks page in one go */
article h2 {
    margin-left: 30px;
    margin-top: 30px;
}

/* To format the first two articles in beauty hacks page in one go */
.tips ul {
    margin-left: 30px;
    margin-right: 30px;
    border: 4px ridge #40315d;
    list-style-type: none;
    padding: 10px 30px;
    width: 40%;
    background-color: rgb(233, 238, 243);
}

/* The woman-looking-in mirror image in beauty hacks page */
#mirror-woman {
    width: 650px;
    height: 400px;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 90%;
    border: 4px ridge #40315d;
}

/* Relative positioning made it easier to orient */
aside {
    width: 400px;
    height: 200px;
    position: relative;
    bottom: 300px;
    left: 900px;
}

aside h2 {
    text-align: center;;
}

aside p {
    border: 4px ridge #40315d;
    border-radius: 90%;
    padding: 40px 80px;
    background-color:rgb(233, 238, 243);
}

aside a:hover {
    border-bottom: 1px solid #40315d;
}

#brands h2 {
    position: relative;
    bottom: 100px;
    font-size: larger;
    margin-left: 100px;
    text-transform: uppercase;
}

#brands ul {
    list-style-type: none;
    text-transform: uppercase;
    position: relative;
    bottom: 100px;
    font-size: large;
    margin-left: 120px;
}

/* To maintain consistency with the other external links */
#brands a:hover {
    border-bottom: 1px solid #40315d;
}

/* Image is positioned in a way to ensure the user knows to continue to scroll down the page */
#table-makeup {
   float: right;
   width: 800px;
   height: 600px;
   margin-right: 30px;
   border: 4px ridge #40315d;
   border-radius: 20%;
}

form {
    padding-left: 30px;
    padding-top: 40px;
    /* Image gives heavenly hallway vibe */
    background-image: url('../images/white-hall.jpg');
    background-size: cover;
    background-position: center;
    /* Darkened the text color so it stands out against background */
    color: #140a27
}

div input {
    margin: 10px;
}

form span {
    font-size: larger;
}

.name {
    border: 2px ridge #40315d;
    width: 300px;
    height: 20px;
    padding: 5px 20px; 
    font-size: larger;
    font-family: 'Cantarell', sans-serif;
}

/* I gave these elements separate ids in case I wished to give them a distinct style from the name fields */
#age {
    border: 2px ridge #40315d;
    width: 90px;
    height: 20px;
    padding: 5px 10px;
    text-align: center;
    font-size: large;
    font-family: 'Cantarell', sans-serif;
}

#gender {
    padding-bottom: 10px;
}

#email {
    border: 2px ridge #40315d;
    width: 400px;
    height: 20px;
    padding: 5px 20px;
    font-size: larger;
    font-family: 'Cantarell', sans-serif;
}

#sub-button {
    width: 200px;
    height: 40px;
    font-size: larger;
    font-family: 'Cantarell', sans-serif;
    border: 2px ridge #40315d;
    color: #40315d;
}

#sub-button:hover {
    background-color: #40315d;
    color: rgb(214, 230, 244);
}

legend {
    font-size: larger;
    padding-bottom: 10px;
    text-decoration: underline;
}

footer {
    color: rgb(64, 49, 93);
    height: 150px;
    width: 100%;
    background-color: rgb(64, 49, 93, 0.4);
    margin-top: 30px;
}

/* For the social media icons */
#social-media i {
    font-size: xx-large;
    float: left;
    padding: 40px;    
}

#copyright {
    float: right;
    padding: 40px;
}