/* To remove some default alignments */
* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Verdana", Geneva, Tahoma, sans-serif;
	font-weight: 200;
	color: #140a27;
	font-size: 1.15rem;
	background: url("../images/white-hall.webp") no-repeat center center;
	background-color: #fff;
	background-size: cover;
}

/* Header styling */
header {
	background-color: rgba(186, 177, 200, 0.6);
	height: 12rem;
	width: 100%;
}

#heavenly {
	text-align: center;
	padding-top: 70px;
}	

h1 {
	color: #140a27;
	font-size: 3.5rem;
	font-family: "Georgia", serif;
	font-weight: 530;
}

/* General styling for other headers in the site */
h2,
h3 {
	font-family: "Georgia", serif;
	font-weight: 500;
}

/* Navigation bar styling */
nav {
	text-align: center;
	margin: 0 auto;
}

#nav li {
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	font-size: 1.5rem;
	font-weight: bold;
}

/* So links default to underlining unless I specify it */
a {
	text-decoration: none;
	color: #140a27;
}

/* For when user hovers over the navigation button */
#nav a:hover {
	text-decoration: underline;
}

/* For when user clicks on the button, thereby 'activating' the page */
.active {
	text-decoration: underline;
}

/* Inspirational quote to boost user's mood */
div #quote {
	padding: 20px;
	text-align: center;
	color: #140a27;
	font-style: italic;
	margin: 30px 0;
}

/* Hero image */
#no-barrier {
	background: url("../images/compact-powder.webp") no-repeat center center;
	background-color: rgba(186, 177, 200, 0.7);
	background-size: cover;
	height: 500px;
	width: 75%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

a #no-barrier {
	color: #140a27;
	text-align: center;
	padding: 50px;
}

/* Animation fade in effect when page loads */
#no-barrier {
	opacity: 1;
	animation: fadeinwards 6s;
}

@keyframes fadeinwards {
	from { opacity: 0.5; }
	to {
		opacity: 1;
	}
}

/* Subscription section, goal is to draw the users to the subscription page */
#subscribe {
	text-align: center;
	color: #140a27;
	padding-top: 5px;
	background-color: rgba(186, 177, 200, 0.7);
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 50%;
}

#subscribe ul {
	list-style-type: none;
}

#subscribe li {
	padding: 1.2rem;
}

/* To format the first two articles in beauty hacks page in one go */
.tips {
	max-width: 600px;
	margin: 60px auto;
	padding: 30px;
	background-color: rgba(186, 177, 200, 0.7);
}

.tips ul {
	list-style-type: none;
	letter-spacing: 0.05rem;
}

.tips li {
	padding: 1rem;
}

/* Given similar styling to the tips section but without lists */
aside {
	max-width: 600px;
	margin: 60px auto;
    padding: 30px;
	letter-spacing: 0.05rem;
	background-color: rgba(186, 177, 200, 0.7);
}

aside p {
	padding-top: 10px;
}

/* So the link stands out from the rest of text */
aside a {
	color: rgb(97, 11, 118);
}

aside a:hover {
	text-decoration: underline;
}

/* Recommended brands */
#brands {
	margin-left: auto;
	margin-right: auto;
	background: url("../images/purple-lipstick.webp");
	background-size: cover;
	opacity: 0.9;
	width: 75%;
	height: 40rem;
	display: block;
}

#brands h2 {
	font-size: 2rem;
}

#brands ul {
	list-style-type: none;
	font-size: 1.5rem;
	margin-left: 30px;
}

#brands li {
	padding: 2rem 0;
}

#brands a {
	color: #140a27;
}

#brands a:hover {
	text-decoration: underline;
}

/* Subscription page with form */
form {
	padding-left: 30px;
	padding-top: 30px;
	color: #140a27;
	margin-top: 20px;
	margin-bottom: 30px;
}

/* To stack the labels instead of having them in-line - thank you Brian, aligns the labels*/
input,
label,
option {
	display: block;
}

/* First name and last name */
.name {
	border: 2px ridge #140a27;
	width: 15rem;
	height: 1.5rem;
	padding: 5px 20px;
	font-size: 1.15rem;
	font-family: "Verdana", Geneva, Tahoma, sans-serif, sans-serif;
}

/* I gave these elements separate ids in case I wished to give them a distinct style from the name fields */
#age {
	border: 2px ridge #140a27;
	width: 7rem;
	height: 1.5rem;
	padding: 5px 10px;
	text-align: center;
	font-size: 1.15rem;
	font-family: "Verdana", Geneva, Tahoma, sans-serif;
}

#email {
	border: 2px ridge #140a27;
	width: 20rem;
	height: 1.5rem;
	padding: 5px 20px;
	font-size: 1.15rem;
	font-family: "Verdana", Geneva, Tahoma, sans-serif;
}

/* For the drop down menus */
select {
	height: 2rem;
	width: 15rem;
	font-size: 1.15rem;
	color: #140a27;
	font-family: "Verdana", Geneva, Tahoma, sans-serif;
}

label {
	padding-bottom: 20px;
}

div .checkbox-label {
	padding-bottom: 20px;
}

.checkbox input,
.checkbox label {
	display: inline;
	line-height: 2.5rem;
}

div .checkboxes {
	border: 3px ridge #140a27;
	padding: 10px;
	width: 50%;
	background-color: rgba(233, 230, 235, 0.5)
}

/* Subscribe button */
button {
	width: 40%;
	height: 3rem;
	font-size: 1.3rem;
	font-family: "Verdana", Geneva, Tahoma, sans-serif;
	border: 2px ridge #140a27;
	color: #21113f;
	background-color: rgba(233, 230, 235, 0.5);
}

button:hover {
	background-color: #21113f;
	color: rgb(214, 230, 244);
}

/* Fieldset labels */
legend {
	padding-bottom: 20px;
	text-decoration: underline;
	font-size: 1.3rem;
}

/* Footer section */
footer {
	height: 12rem;
	width: 100%;
	background-color: rgba(157, 145, 177, 0.6);
	margin-top: 30px;
	text-align: center;
}

/* For the social media icons, code help from Brian Macharia*/
#social-media {
	height: 100px;
	width: fit-content;
	margin: 20px auto;
}

#social-media i {
	padding: 30px 50px;
    font-size: 2rem;
}

#copyright {
	margin: 10px auto;
}

/* Media queries */

/* Medium screens 1000px and below */
@media screen and (max-width: 1000px) {

	body {
		font-size: 1rem;
	}

	#nav li {
		font-size: 1.25rem;
	}

	#brands {
		width: 100%;
		height: 40rem;
	}

	button {
		font-size: 1rem;
	}
}

/* For media screens 700px and down */
@media screen and (max-width: 700px) {

	#brands {
		height: 25rem;
	} 

	#brands h2 {
		font-size: 1.5rem;
	}

	#brands li {
		font-size: 1rem;
		padding: 1.5rem 0;
	}

	div .checkboxes {
		width: 50%;
	}

	button {
		width: 50%;
		font-size: 1rem;
	}
}

/* For smaller screens 600px and down */
@media screen and (max-width: 600px) {

	h1 {
		font-size: 3.5rem;
	}

	nav {
		padding: 0;
	}

	#nav li {
		font-size: 1rem;
	}

	div #quote {
		margin-top: 50px;
		margin-bottom: 30px;
		padding: 0;
	}

	#quote {
		text-align: left;
	}

	#no-barrier {
		width: 350px;
		height: 300px;
		padding-top: 5px;
		padding-left: 5px;
	}

	#brands h2 {
		font-size: 2rem;
	}

	#brands li {
		font-size: 1rem;
		padding: 1rem 0;
	}

	form {
		padding-left: 5px;
		margin-top: 3rem;
	}

	select,
	.name,
	#age,
	#email {
		font-size: 1rem;
		height: 1.5rem;
	}
}

/* For very small screens 480px and down */
@media screen and (max-width: 480px) {

	body {
		font-size: 0.75rem;
	}

	#nav li {
	    font-size: 0.75rem;
	}

	h1 {
		font-size: 3rem;
	}

	#no-barrier {
		width: 250px;
		height: 200px;	
	}

	a #no-barrier {
		padding-top: 10px;
	}

	.tips {
		margin-top: 50px;
	}

	#brands {
		height: 20rem;
	}

	#brands h2 {
		font-size: 1.2rem;
	}

	#brands li {
		font-size: 0.8rem;
	}

	#social-media i {
		padding: 30px;
		font-size: 1.5rem;
	}

	select,
	.name,
	#age,
	#email {
		font-size: 0.75rem;
		height: 1rem;
	}

	#email {
		width: 15rem;
	}

	div .checkboxes {
		width: 60%;
	}

	button {
		width: 60%;
	}
}


/* For tiny screens 380px and down */
@media screen and (max-width: 380px) {

	h1 {
		font-size: 2.5rem;
	}

	#no-barrier {
		width: 200px;
	}
}

/* For larger screens 1600px and up */
@media screen and (min-width: 1600px) {

	body {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 4.25rem;
	}

	#no-barrier {
		height: 700px;
	}

	#brands {
		height: 50rem; 
	}
}

