@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=IM+Fell+Double+Pica:ital@1&display=swap');
/* Fonts chosen for their smooth, heavenly feel */

/* To remove some default alignments */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header styling */

h1, h2 {
   font-family: 'IM Fell Double Pica', serif;
   font-weight: 400;
}

header {
    background-image: url('../images/pero-kalimero-9BJRGlqoIUk-unsplash.jpg');
    background-color: rgb(214, 230, 244);
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;

}

header a {
    text-decoration: none;
}

 #heavenly {
    color: #4d3b71;
    text-align: center;
    padding-top: 70px;
    font-size: 25px;
}

nav, p {
    font-family: 'Cantarell', sans-serif;
    font-weight: 300;
    color: #4d3b71;
}

/* Div container to center the navigation bar */
div #nav {
    text-align: center;
    margin: 0 auto;
}

#nav li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 10px 5px 10px;
    color: #4d3b71;
    font-size: large;
}

#nav a { 
    text-decoration: none;
}

#nav a:hover {
    color:rgb(214, 230, 244);
    background-color: #4d3b71;   
    padding: 5px 10px 5px 10px;   
}

div #quote {
    padding: 20px;
}

#quote {
    text-align: center;
}

a #no-barrier {
    color:#4d3b71;
    text-align: center;
    padding: 50px;
    text-decoration: none;
}

#no-barrier {
    background-image: url('../images/pexels-kristina-paukshtite-2417855.jpg');
    background-color: #b27da4;
    background-size: cover;
    height: 300px;
    width: 40%;
    padding: 10px;
    text-align: center;
    float: left;
    border-radius: 20%;
    margin-left: 20px;
    
}